body {
   background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    margin: 50px;
    padding: 100px;
}
  
  h1, h2, h3, h4, h5, h6 {
    color: #333; 
    font-weight: bold;  
    text-align: center;
  }
  
  p {
    font-size: 20px;
    text-align: justify; 
  }
  
  a {
    color:black; 
    text-decoration: none;
    font-weight: bold;
  }
  
  a:hover {
    text-decoration: underline;
    color: #333;

  }
  
  button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color:#ccc;
    color: black;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
    font-size: 20px;
}

th {
    background-color: #333;
    color: white;
}

form {
  width: 50%;
  margin: 20px auto;
  font-size: 20px;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #333;
  font-size: 20px;
}

li {
  font-size: 20px; 
  color: #333; 
  margin-bottom: 10px; 
  line-height: 1.5;
  list-style-type: none; 
  text-align: center;
}